@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
}

.medium {
    font-weight: 500;
}

hr {
    border-width: 1;
    width: 100%;
    margin: none;
}

html,
body {
    margin: 0;
}

.button,
button,
.button.double>* {
    background-color: #fce563;
    display: inline;
    padding: 10px 25px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
}

/* .button,
button {
} */

.button.double {
    display: inline-flex;
    flex-direction: column;
    padding: 0;
}

.button.double>*:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.button.double>*:nth-child(2) {
    background-color: #d114;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.button>a {
    text-decoration: none;
    color: black;
    /* font-weight: ; */
}

body {
    padding-top: 48px;
}

body>* {
    padding: 0 20px;
}

* {
    box-sizing: border-box;
}

img,
video {
    max-width: 100%;
}

nav#navbar {
    padding: 0 10px;
    box-shadow: 2px 2px 12px #0000;
    width: 100%;
    transition-duration: 200ms;
    transition-property: box-shadow;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    height: 48px;
}

nav#navbar.scrolled {
    box-shadow: 2px 2px 12px #0003;
    transition-duration: 500ms;
}

@supports (backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px)) {
    nav#navbar {
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        background-color: #fffe;
    }
}

#navbar>a:first-child {
    font-weight: bold;
    font-size: 30px;
}

#navbar a {
    text-decoration: none;
    color: black;
}

#navbar-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px 10px;
}

#navbar-items a {

    border-bottom: 2px solid transparent;
}

#navbar-items li {
    transition-duration: 250ms;
    transition-property: opacity;
}

#navbar-items li:hover {
    opacity: .5;
    color: red;
}

#navbar-items strong {
    font-weight: inherit;
}

@media screen and (max-width: 768px) {

    #hamburger-menu-icon {
        display: block;
        line-height: 0;
    }

    #navbar-items strong a {
        border-bottom-color: black;
    }

    #navbar.open {

        text-align: center;
        background-color: #fffd;
        /* flex-direction: column; */
        display: grid;
        grid-template-areas:
            "ti hm"
            "li li";
        grid-template-rows: 48px auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
    }

    #navbar-items {
        grid-area: li;
        flex-direction: column;
        font-size: min(min(10vw, 10vh), 35px);
        overflow-y: auto;
        height: 100%;
    }

    nav#navbar:not(.open) #navbar-items {
        display: none;
    }
}